{% extends 'question/base.html' %}

{% block body_block %}
    
    <h1>{{question.user}}</h1>
    <h1>{{question.title}}</h1>
    <a href="{% url 'question:update' id=question.id %}">수정</a>
    <a href="{% url 'question:delete' id=question.id %}">삭제</a>
    <h3>{{question.answerA}} : {{A|length}} VS {{question.answerB}} : {{B|length}}</h3>  <!--A와 B의 댓글 갯수 보여줌-->
   
    <div class="progress">                                                                              <!--소수점 1자리만 표시-->
      <div class="progress-bar" role="progressbar" style="width: {{A_per}}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">{{A_per|floatformat}}%</div>
      <div class="progress-bar bg-success" role="progressbar" style="width: {{B_per}}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">{{B_per|floatformat}}%</div>
    </div>
                       <!--/questions/1/comment/create-->
    <form action="{% url 'question:comment_create' question.id %}" method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit">
    </form>
    
    <!--{% for comment in question.comment_set.all %}   <!--question이 가지고 있는 comment의 집합들 출력-->-->
    <!--    <h5>{{comment.answer}}</h5>-->
    <!--    <p>{{comment.content}}</p>-->
    <!--    <a href="{% url 'question:update' id=comment.id %}">수정</a>-->
    <!--    <a href="{% url 'question:delete' id=comment.id %}">삭제</a>-->
    <!--{% endfor %}-->

{% endblock %}